body {
    background-color: lightsteelblue;
  }
h1{
    text-align: center;
}
h1{
    color: rgb(0, 111, 139);
}
<<<<<<< HEAD
hr {
    border: 4px solid black;
    width: 50%;
}
=======

>>>>>>> a33eba1390ac220574edd6799a3ee37d54c45581
